<nav class="navbar navbar-dark bg-primary bg-gradient">
    <div class="container-fluid">
        <div class="navbar-brand">
            <img src="assets/icon.png">
            <span class="navbar-brand fw-bold ms-2 " href="#">
                Deine ToDo-Liste
            </span>
        </div>
        <button class="navbar-brand btn btn-danger fs-5 d-flex justify-content-between" type="button" id="tool"
            data-bs-toggle="modal" data-bs-target="#createModal" title="Hinzufügen ein ToDo">
            <i class="bi bi-clipboard2-plus-fill fw-bold "></i>
            <span class="d-none d-sm-block d-md-block d-lg-block mx-2">ToDo hinzufügen</span>
        </button>
    </div>
    <!-- dialog -->
    <app-dialog modalId="createModal"></app-dialog>
</nav>